/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
}

img {
    vertical-align: middle;
}

b, strong {
    font-weight: bolder;
}

html, body {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}

div {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 10px 0;
}

h2 {
    font-size: 30px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

i {
    font-style: italic;
}

.wide {
    letter-spacing: 4px;
}

.text-white {
    color: #fff;
}

.text-blue {
    color: #2196F3;
}

.bg-white {
    color: #000;
    background-color: #fff;
}

.bg-red {
    color: #fff;
    background-color: #f44336;
}

.bg-black {
    color: #fff;
    background-color: #000;
}

.bg-teal {
    color: #fff;
    background-color: #009688;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li>a {
    text-decoration: none;
}

.border, .input {
    border: 1px solid #ccc;
}

.input {
    padding: 8px;
    display: block;
    width: 100%;
    font-size: 15px;
}

.button {
    border: none;
    display: inline-block;
    margin: 0;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}



.block {
    display: block;
    width: 100%;
}

.input, .button {
    line-height: 22.5px;
}

.button:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.container {
    padding: 0.01em 16px;
}




.text-gray {
    color: #757575;
}

.wide {
    letter-spacing: 4px;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.row-padding {
    padding: 0 8px;
}

.row-padding>.col-third {
    padding: 0 8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%
}

.col-third {
    width: calc(100% / 3);
}

.col-full {
    width: 100%;
}

.section {
    margin: 16px 0;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

.badge {
    border-radius: 50%;
}

.badge, .tag {
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.content {
    margin-left: auto;
    margin-right: auto;
}


.padding {
    padding: 8px 16px;
}

.padding-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.padding-large {
    padding: 12px 24px;
}

.padding-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.margin-left {
    margin-left: 16px;
}

.mt-0 {
    margin-top: 0px;
}

.margin-right {
    margin-right: 16px;
}

.mb-8 {
    margin-bottom: 8px!important;
}

.mg-bt-16 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.margin-bottom {
    margin-bottom: 16px;
}

.text-center {
    text-align: center !important;
}

.opacity {
    opacity: .6;
}

.hover-opacity:hover {
    opacity: .6;
}

.round {
    border-radius: 4px;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (Font , ..)
*/


/* Main */
#main{

}
/* Begin Header */
#header {
    top: 0;
    z-index: 1;
    width: 100%;
    height: 46px;
    position: fixed;
    background-color: #000;
}

#nav {
    display: inline-block;
}

#nav > li{
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav .subnav li:hover,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color:#000;
    padding: 0 16px;
    line-height: 38px;
}

/* Begin Search button */
#header .search-btn {
    float: right;
    padding: 0 24px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
/* End Search button */
/* End Header */

/* Begin Slider */
#slider{
    margin-top: 46px;
    padding-top: 50%;
    /* background: url('./assets/img/slider/slider1.jpg') top center / cover no-repeat; */
    background-image: url('./assets/img/slider/slider1.jpg');
    
    position: relative;
}

#slider .text-slider {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 48px;
    color: #fff;
}

#slider .text-heading {
    font-weight: 400;
    font-size: 24px;
}

#slider .text-description {
    font-size:15px;
    margin-top: 25px;
}
/* End Slider */

/* Begin Content */
#content{
    
}

#content .content-section {
    max-width: 800px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content .section-sub-heading {
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin: 15px 0;
    text-align: justify;
}
.content-member,
.place-section,
.contact-section {
    display: flex;;
}
/* End Content */

/* Begin Contact */
.contact-info {
    font-size: 18px;
    
}


.contact-info [class^="ti-"], 
.contact-info [class*=" ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    margin-bottom: 8px;
    padding: 0;
}

.form-control {
    width: 100%;
    padding: 8px;
}

.form-submit-btn {
    background-color: #000;
    color: #fff;
    float: right;
}

/* End Contact */

/* Begin Map */

/* End Map */

/*Begin  Footer */
#footer{
    padding: 46px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 23px;
}

#footer .social-list a,
#footer .social-list p {
    text-decoration: none;
    color: rgba(0 , 0, 0,0.6)
}

#footer .social-list a:hover {
    color: rgba(0 , 0, 0,0.3)
}

#footer .social-list p {
    font-size: 15px;
}
/* End Footer */

/* Begin Modal */
.modal {
    z-index: 3;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    padding-top: 100px;
    background-color: rgba(0 ,0, 0, .4);
}

.modal.open {
    display: block;
}

.modal-container {
    position: relative;
    width: 900px;
    max-width: calc(100% - 32px);
    box-sizing: inherit;
    margin: auto;
    padding: 0;
    outline: 0;
    animation: animatetop 0.4s;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}


.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    padding: 16px 14px;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* Emd Modal */
/*  */

.nav__tablet {
    display: none;
}

.nav__mobile {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}

.nav_mobile li {
    width: 130px;
}

.nav__mobile li a {
    line-height: 46px;
    padding: 0 24px;
    display: block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}

.nav__menu:hover,
.nav__mobile li a:hover {
    color: #000;
    background-color: #ccc;
}

.nav__menu:hover .menu-icon {
    color: #000;
}

.nav__menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.menu-icon {
    color: #fff;
    font-size: 26px;
}

.nav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0 , 0, 0, 0.3);
}

.nav__input {
    display: none;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__tablet {
    display: block;
}

/* Mobile & Tablet */
@media only screen and (max-width: 64em) {
    #nav> li,
    .search-btn {
        display: none;
    }

    .nav__menu {
        display: block;
    }

    .content-member {
        display: block;
    }

    .member {
        width: 100%;
    }

    .place-section {
        display: block;
    }

    .place {
        width: 100%;
    }

    .contact-section {
        display: block;
    }

    .contact-form > .col-half {
        width: 100%;
    }
}
